
@{
    ViewBag.Title = "MerciIscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Merci pour votre inscription, un email de validation vous sera envoyé, prière de valider votre inscription, pensez a vérifier votre courrier indésirable</h2>

